<div class="stream">
{% for tweet in stream %}
  {% if tweet.retweeted %}
      {{ include('modules/ttools/templates/tweet.html.twig', 
        {user: tweet.retweeted_status.user, 
        text: tweet.retweeted_status.text}) }}
    {% else %}
      {{ include('modules/ttools/templates/tweet.html.twig', 
        {user: tweet.user, text: tweet.text}) }}
    {% endif %}
{% endfor %}
</div>